@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
:root {
  --primary: #d97706;
}
body {
  font-family: "Open Sans", sans-serif;
  color: black;
  margin: 0;
  background-color: #fffbeb;
}

.navigation h3 {
  font-size: 1.3rem;
}
.navigation {
  padding: 1rem;
  background-color: var(--primary);
  margin-top: 0px;
  border-bottom-left-radius: 2rem;
  color: white;
}
.navigation .active {
  font-weight: bolder;
}
.navigation ul {
  text-align: right;
  list-style: none;
}
.navigation ul li {
  padding: 0 1rem;
  display: inline;
}

.navigation a {
  text-decoration: none;
  color: white;
}
.hero img {
  display: block;
  max-width: 300px;
  margin: auto;
  margin-top: 1rem;
}
.hero h1 {
  text-align: center;
  color: #374151;
}
.primary-color {
  color: var(--primary);
}
.section {
  padding: 0.4rem;
}

.container {
  margin: auto;
  max-width: 600px;
  padding: 1rem 1rem;
  border-radius: 1rem;
}
.bgow {
  background-color: #fde68a;
}

.section h2 {
  text-align: center;
  padding: 0.4rem 0;
}

.primary-btn {
  display: inline-block;
  text-decoration: none;
  border: var(--primary) 0.1rem solid;
  background-color: var(--primary);
  color: white;
  padding: 0.4rem 1rem;
  border-radius: 0.7rem;
  transition: all 0.5s;
  margin: 0.5rem 0.5rem 0.5rem 0rem;
}

.primary-btn:hover {
  background-color: transparent;
  color: var(--primary);
}

.secondary-btn {
  text-decoration: none;
  display: inline-block;
  border: var(--primary) 0.1rem solid;
  color: var(--primary);
  padding: 0.4rem 1rem;
  border-radius: 1rem;
  transition: all 0.5s;
  margin: 0.5rem 0 0.5rem 0;
}

.secondary-btn:hover {
  background-color: var(--primary);
  color: white;
}

.footer {
  background-color: var(--primary);
  color: white;
  padding: 0.4rem;
  text-align: center;
  border-top-right-radius: 2rem;
}
.footer p {
  font-weight: bolder;
}
.footer ul {
  list-style: none;
  padding-inline-start: 0px;
  padding: 1rem;
}
.footer li {
  display: inline;
  padding: 0 1rem;
}

.footer a {
  text-decoration: none;
  color: white;
}
ol li {
  list-style: none;
}
.article {
  padding: 1rem;
}
.article:nth-child(even) .container {
  background-color: #fde68a;
}
.article h2 {
  margin: 0.8rem 0;
}

.article p {
  margin: 0.8rem 0;
}
.blogImage {
  display: block;
  max-width: 200px;
  margin: auto;
}
