@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Josefin+Sans&display=swap");

:root {
  --primary: #d97706;
}
body {
  font-family: "Inter", sans-serif;
  color: black;
  margin: 0;
  background-color: #fffbeb;
  font-size: 1.1rem;
}

.navigation h2 {
  font-size: 1.6rem;
  font-family: "Josefin Sans", sans-serif;
}
.navigation {
  padding: 1rem;
  background-color: var(--primary);
  margin-top: 0px;
  border-bottom-left-radius: 2rem;
  color: white;
  transition: border-bottom 0.3s;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

a.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px;
  height: 40px;
  margin: 0 0.5rem;
  padding: 0.2rem;
  background-color: #fef3c7;
  border: 1px solid red;
  border-radius: 50%;
}
.navigation .active {
  font-weight: bolder;

  border-bottom: 1px solid white;
}
.navigation a:hover {
  border-bottom: 1px solid white;
}
.navigation ul {
  list-style: none;
  padding-inline-start: 0px;
}
.navigation ul li {
  padding: 0 1rem;
  display: inline;
}

.navigation a {
  padding-bottom: 0.25rem;
  text-decoration: none;
  color: white;
}

.home.hero {
  margin: 3rem 0;
}

.hero {
  padding: 1rem;
}

.hero h1,
.hero h2 {
  text-align: center;
  color: #374151;
}
.primary-color {
  color: var(--primary);
}

.text-center {
  text-align: center;
}

.container {
  margin: auto;
  max-width: 600px;
  padding: 1rem 1rem;
  border-radius: 1rem;
}
.bgow {
  background-color: #fde68a;
}

.section h2 {
  text-align: center;
  padding: 0.4rem 0;
}

.primary-btn {
  display: inline-block;
  text-decoration: none;
  border: var(--primary) 0.1rem solid;
  background-color: var(--primary);
  color: white;
  padding: 0.4rem 1rem;
  border-radius: 0.7rem;
  transition: all 0.5s;
  margin: 0.5rem 0.5rem 0.5rem 0rem;
}

.primary-btn:hover {
  background-color: transparent;
  color: var(--primary);
}

.secondary-btn {
  text-decoration: none;
  display: inline-block;
  border: var(--primary) 0.1rem solid;
  color: var(--primary);
  padding: 0.4rem 1rem;
  border-radius: 1rem;
  transition: all 0.5s;
  margin: 0.5rem 0 0.5rem 0;
}

.secondary-btn:hover {
  background-color: var(--primary);
  color: white;
}

.footer {
  background-color: var(--primary);
  color: white;
  padding: 0.4rem;
  text-align: center;
  border-top-right-radius: 2rem;
}
.footer p {
  font-weight: bolder;
}
.footer ul {
  list-style: none;
  padding-inline-start: 0px;
  padding: 1rem;
}
.footer li {
  display: inline;
  padding: 0 1rem;
}

.footer a {
  text-decoration: none;
  color: white;
}
ol li {
  list-style: none;
}
.article {
  padding: 1rem;
}
.article:nth-child(even) .container {
  background-color: #fcd34d;
}
.article:nth-child(odd) .container {
  background-color: #fef3c7;
}
.article h2 {
  margin: 0.8rem 0;
}
p a {
  color: var(--primary);
}
p a:hover {
  background-color: var(--primary);
  color: white;
}
.article p {
  margin: 0.8rem 0;
}
.blogImage {
  display: block;
  max-width: 200px;
  margin: auto;
}
pre code {
  background-color: #eee;
  color: #444;
  display: block;
  padding: 1rem;
  overflow: auto;
  border-radius: 10px;
}

.badge {
  font-size: 0.7rem;
  text-transform: uppercase;
  padding: 0.05rem 0.4rem;
  border-radius: 0.4rem;
  white-space: nowrap;
}

.badge-html {
  background: #e34c26;
  color: #fff;
}

.badge-css {
  background: #264de4;
  color: #fff;
}

.badge-js {
  background: #f0db4f;
  color: #323330;
}
.badge-react {
  background: #1f232a;
  color: #60dafb;
}
.badge-firebase {
  background: #ffa611;
  color: #323330;
}
.badge-github {
  background: #211f1f;
  color: #fff;
}
.badge-git {
  background: #f1502f;
  color: #fff;
}
.badge-netlify {
  background: #00c7b7;
  color: #0e1e25;
}

.badge-redux {
  background: #764abc;
  color: #fff;
}

.badge-fastart {
  background: #065f46;
  color: #ccfbf1;
}

.badge-mock {
  color: #ffde59;
  background: #242526;
}
.b-2x {
  font-size: 0.9rem;
}

.wave-hi {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(10deg);
  }
  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media only screen and (max-width: 600px) {
  .navigation {
    flex-direction: column;
  }
}
